.App {
  text-align: center;
  margin-top: 30px;
}

.Button {
  background: whitesmoke;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  margin: 1px;
  box-shadow: -1px 1px gray;
}

.Display {
  border: 1.5px solid goldenrod;
  width: 123px;
  height: 37px;
  margin-top: 1px;
}

.toprow {
  display: flex;
  justify-content: center;
  align-items: flex-start
}

.Button:hover {
  background-color: salmon;
}

.Button:active {
  box-shadow: 0 .5px rgb(49, 49, 49);
  transform: translateY(4px);
}

.Button:focus {
  outline: 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
