.App {
  text-align: center;
  margin-top: 150px;
}

.ClearButton {
  background: whitesmoke;
  border: 1px solid black;
  width: 165px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 1px;
  box-shadow: -1px 1px gray;
  border-radius:  5px;
}

.Button {
  background: whitesmoke;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  margin: 1px;
  box-shadow: -1px 1px gray;
  border-radius: 5px;
}

.Display {
  border: 1.5px solid rgb(218, 32, 32);
  width: 165px;
  height: 45px;
  margin-top: 1px;
  border-radius: 5px;
  margin-right: 3px;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.toprow {
  display: flex;
  justify-content: center;
  align-items: flex-start
}

.Button:hover {
  background-color: rgb(214, 250, 114);
}

.Button:active {
  box-shadow: 0 .5px rgb(49, 49, 49);
  transform: translateY(4px);
}

.Button:focus {
  outline: 0;
}